.header {
//   background-color: yellow;
  grid-area: header;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../../assets/images/godfather-header.jpg");
  background-position: 25% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}
